service cloud.firestore {
  match /databases/{database}/documents {
    match /cards/{cardId} {
        allow read;
        allow update, delete: if request.auth.uid == resource.data.uid;
        allow create: if request.auth.uid != null;
    }
  }
}
